<h2> Product Details</h2>

  <p>
    <strong>Product Name : </strong> <br>
    <%= @product.name %>
  </p>
  <p>
    <strong>Product Description : </strong> <br>
    <%= @product.description %>
  </p>
  <p>
    <strong>Product Price : </strong> <br>
    <%= @product.formatted_price %>
  </p>
  <h3> Reviews </h3>
  <div class="product_reviews">
    <ol>
      <% @product.reviews.each do |m| %>
      <li>

            <%= m.comment  %> <br>
            <% if m.user != nil %>
            <em>by: <%= m.user.email %></em> <br>
              Added on:<%= m.created_at %>
            <% end %>


      </li>

      <% end %>


    </ol>

  </div>
  <div class="add_review">
    <% if current_user %>
      <h4>  New Review </h4>
      <%= form_for ([@product, @review]) do |f| %>
        <%= f.label :comment %> <br>
        <%= f.text_field :comment %> <br>
        <%= f.submit "Add review" %>
      <% end %>
    <% else %>
      <p> Please <%= link_to "Log in", login_path %> to add a new review</p>

    <% end %>




  </div>
